<!DOCTYPE html>
<html>

<!-- Head -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Title -->
  <title>edhunt</title>

</head>

<!-- Body -->
<body>

    <!-- Header -->
<!--     <header class="site-header"> -->

      <!-- Nav -->
<!--       <nav class="navbar navbar-expand-md navbar-dark bg-steel top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">edhunt</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="#">Home</a>
              <a class="nav-item nav-link" href="#">About</a>
            </div>

             Navbar Right Side
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="#">Account</a>
                <a class="nav-item nav-link" href="#">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="#">Login</a>
                <a class="nav-item nav-link" href="#">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>-->

    <!-- Main -->
    <main role="main" class="container">
      <p>we are in main (container)</p>
      <div class="second_main">
        <div class="row">
          <p>we are in a row</p>
          <div class="col-md-12">
            <p> we are in a col md-12</p>
            <!-- Flash Messages -->
<!--             {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %} -->

            <!-- Content -->
<!--             <div class="container-fluid">this is a container fluid</div>
            <div class="container">this is a container</div>
  <div class="row">
    <div class="col">
      1 of 2
    </div> -->


          <div class="container">
            <div >
              <div class="row">
                <div class="col-sm-3">Nom</div>
                <div class="col-sm-3">Loc.</div>
                <div class="col-sm-3">Mots Clés</div>
                <div class="col-sm-1">Cand./Offr.</div>
                <div class="col-sm-1">Voir</div>
                <div class="col-sm-1">Update</div>
              </div>
            </div>

                {% for search in search_list %}

                  <div class="row">
                      <div class="col-sm-3">{{ search.name }}</div>
                      {% if search.mob == "Ville" %}
                       <div class="col-sm-3">{{ search.town }}</div>
                      {% elif search.mob == "Département" %}
                       <div class="col-sm-3">{{ search.departement }}</div>
                       {% elif search.mob == "Région" %}
                       <div class="col-sm-3">{{ search.region }}</div>
                       {% elif search.mob == "Pays" %}
                       <div class="col-sm-3">{{ search.country }}</div>
                       {% else  %}
                       <div class="col-sm-3"> - </div>
                       {% endif %}

                      <div class="col-sm-3">{{ search.key_words[:30] }}</div>
                      <div class="col-sm-1" > 8/24</div>

                      <div class="col-sm-1">
                        <a class="btn btn-outline-secondary" href=#>Dérouller</a> </div>
                      <div class="col-sm-1">
                          <a class="btn btn-outline-info" href="{{url_for('manage_search', search_id=search.id)}}">Update</a>
                        </div>

                  </div>

                {% endfor %}


              <div class="row">
                <div class="col-sm">feat1</div>
                <div class="col-sm">feat2</div>
                <div class="col-sm">feat3</div>
                <div class="col-sm">feat4</div>
                <div class="col-sm">feat5</div>
                <div class="col-sm">feat6</div>
              </div>
            </div>
          </div>
<!--             <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Not Least</th>
                  <th scope="col">Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>jeuzdizjdizidezujduezijuiez</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>jeuzdizjdizidezujduezijuiez</td>
                  <td>jeuzdizjdizidezujduezijuiez</td>

                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>jeuzdizjdizidezujduezijuiez</td>
                  <td>jeuzdizjdizidezujduezijuiez</td>
                </tr>
              </tbody>
            </table>
 -->

    </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

