<!DOCTYPE html>
<html lang="fr">


{% block head %}
<!-- Head -->
<head>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20118401-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-20118401-2');
</script>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="edhunt, votre chasseur d'emploi. edhunt est le premier assistant 100% dédié à la recherche de votre futur emploi. A l'écoute ou en recherche, edhunt centralise, simplifie et automatise la recherche de votre futur job. Comme un chasseur de tête, mais à l'envers!">
  <meta property="og:title" content="edhunt" />
  <meta property="og:type" content="edhunt - A l'écoute ou en recherche, edhunt centralise, simplifie et automatise la recherche de votre futur job. Comme un chasseur de tête, mais à l'envers!" />
  <meta property="og:url" content="http://www.edhunt.fr/" />


  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logos/favicon.png')}}">


<!-- full bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- Bootstrap CSS -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- Title -->
  {% if title %}
      <title>edhunt - {{ title }}</title>
  {% else %}
      <title>edhunt - l'assistant 100% dédié à la recherche de votre futur emploi.</title>
  {% endif %}
</head>
{% endblock head %}


<!--------------------------------------------------->
<!--------------------------------------------------->


{% block body %}



<!-- Body -->
<body data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0" style="overflow-x: hidden;">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">

<!-- javascrip -->
<script src="{{ url_for('static', filename='js/layout.js') }}" type="text/javascript"></script>
<noscript>Veuillez activer JavaScript</noscript>


<!-- nav -->
{% block nav %}
  <header class="site-header" style="top:0; position: fixed; width: 100%; z-index:1">

    <!-- Nav Left -->
    <nav class="navbar navbar-expand-md navbar-dark bg-steel top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">edhunt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
          {% if not current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('main.apropos') }}">A propos</a>
<!--             <a class="nav-item nav-link" href="{{ url_for('main.loffre') }}">L'offre</a> -->
            <a class="nav-item nav-link" href="{{ url_for('main.blog') }}">Blog</a>
            <a class="nav-item nav-link" href="{{ url_for('main.faq') }}">FAQ</a>
            <a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Contact</a>
          {% endif %}
          </div>

          <!-- Navbar Right -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('main.edhunt') }}">MyHunt</a>
              <a class="nav-item nav-link" href="{{ url_for('searchs.visualize_searchs') }}">Recherches</a>
              <a class="nav-item nav-link" href="{{ url_for('opportunities.visualize_opportunities') }}">Opportunités</a>
              <a class="nav-item nav-link" href="{{ url_for('plateforms.manage_plateforms') }}">Plateformes</a>
              <a class="nav-item nav-link" href="{{ url_for('users.manage_user') }}">Profil</a>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Déconnexion</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Connexion</a>
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Inscription</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock nav %}



<h1 style="display: none" >recrutement emploi job outil robot assistant chasseur d'emploi recherche service candidats candidat CDI CDD carrière carriere cadres cadre aide intelligence artificielle IA AI Deep learning machine learning assistant chasseur tete têtes tête emploi robot recrutement </h1>
<h2 style="display: none" >recrutement emploi job outil robot assistant chasseur d'emploi recherche service candidats candidat CDI CDD carrière carriere cadres cadre aide intelligence artificielle IA AI Deep learning machine learning assistant chasseur tete têtes tête emploi robot recrutement</h2>



<!-- Main -->
{% block main %}{% endblock main %}



{% block footer %}
  <!-- Footer -->
<div class="row" style="height: 300px">
</div>
<footer class="page-footer font-small myFooter">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a class="footerLink" href="{{ url_for('main.home') }}">edhunt </a></h5>
        <ul class="list-unstyled">
          <li> <a class="footerLink" href="{{ url_for('main.apropos') }}">A propos </a></li>
<!--           <li> <a class="footerLink" href="{{ url_for('main.loffre') }}">L'offre</a> </li> -->
          <li> <a class="footerLink" href="{{ url_for('main.blog') }}">Blog</a> </li>
          <li> <a class="footerLink" href="{{ url_for('main.faq') }}">FAQ</a> </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">contact</h5>
        <ul class="list-unstyled">
          <li> <a class="footerLink" href="{{ url_for('main.contact') }}">candidat</a></li>
          <li> <a class="footerLink" href="{{ url_for('main.corporate_log') }}">corporate & investisseurs</a> </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
        <ul class="list-unstyled">
          <li> <a class="footerLink" href="{{ url_for('main.contact') }}"> <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nous rejoindre</h5></a> </li>
          <li> <a class="footerLink" href="#!"> <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Confidentialité</h5></a> </li>
          <li> <a class="footerLink" href="#!"> <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Mentions Légales</h5></a> </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
        <ul class="list-unstyled">
          <li> <a class="footerLink" href="{{ url_for('main.home') }}"> <h5 class="font-weight-bold text-uppercase mt-3 mb-4">inscription</h5></a> </li>
          <li> <a class="footerLink" href="{{ url_for('users.login') }}"> <h5 class="font-weight-bold text-uppercase mt-3 mb-4">connexion</h5></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a class="footerLink" href="{{ url_for('main.home') }}" style="font-size: 1.6rem;"> edhunt.com <br>
    <div style="font-size: 1rem" >
      for screen <span id="windowSize">X</span>px
    </div>
  </div>
</footer>
{% endblock footer %}




</body>
{% endblock body %}

</html>
