{% extends "layout_parent.html" %}

<!-- Main -->
{% block main %}
<main role="main" class="container" id="responsiveContainer" style="background-color: var(--myWhite); margin-top: 56px">
    <div class="second_main" style="background-color: var(--myWhite)">
      <div class="row" style="background-color: var(--myWhite)">
        <div class="col-md-12" style="background-color: var(--myWhite)">

        <!-- Flash Messages -->
        <!-- not permanent flash -->
        <div id='flashMessage'>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>
</main>

{% endblock main %}


