{% extends "main/main.html" %}
{% block sub_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/questionnaire.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/blog.css') }}">


<!-- blog -->
{% block blog %}
<div class="ehBlog">
  <div class="row">
    <div class="col-md-6" data-aos="fade-right"  data-aos-duration="2000">
      <div class="ehH1">{{text.page.title}} </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[0] }}
      </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[1] }}
      </div>
    </div>
    <div class="col-md-6" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
{% for post in posts[:2] %}
    <a href="{{ url_for('main.post', post_id=post.id) }} ">
    <article class="media content-section myContentBox" >
      <div class="media-body">
        <div class="article-metadata">
          <small>écrit par </small>{{ post.author}} <small>le </small> {{post.created}}
        </div>
        <h2  class='ehLegend' style="padding: 20px">{{ post.title }}</h2>
        <p class="article-content myContentText">{{ post.header }}...</p>
      </div>
    </article>
    </a>
{% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <!--     <div class="border-bottom"></div> -->
      <div class="col-md-12">
        <div class='ehWhiteBox'></div>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
  {% for post in posts[2:] %}
      <div class="col-md-6" data-aos="fade-right"  data-aos-duration="2000">
      <a href="{{ url_for('main.post', post_id=post.id) }} ">
      <article class="media content-section myContentBox" >
        <div class="media-body">
          <div class="article-metadata">
            <small>écrit par </small>{{ post.author}} <small>le </small> {{post.created}}
          </div>
          <h2  class='ehLegend' style="padding: 20px">{{ post.title }}</h2>
          <p class="article-content myContentText">{{ post.header }}...</p>
        </div>
      </article>
      </a>
      </div>
  {% endfor %}
  </div>

  <div class="row">
    <div class="col-md">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock blog %}


{% endblock sub_content %}
