{% extends "main/main.html" %}
{% block sub_content %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/contact.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/questionnaire.css') }}">


<!-- ehContact -->
{% block ehContact %}
<div class="ehContact">
  <div class="row">
    <div class="col-md-6" data-aos="fade-right" data-aos-duration="2000">
      <div class="ehH1">{{text.page.title}} </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[0] }}
      </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[1] }}
      </div>
    </div>
    <div class="col-md-6" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
    <div class="content-section" style="background-color: white; padding: 20px">
      <form method="POST" action="">
          {{ form.hidden_tag() }}

          <!-- fieldset -->
          <fieldset class="form-group">
            {% for feat in ["title", "text", "name", "email", "phone"] %}
            {% if feat == "text" %}
            <div class="form-group">
              {{ form[feat].label(class="form-control-label ehLabel") }}
              {% if form[feat].errors %}
                {{ form[feat](class="form-control form-control-lg is-invalid ehTextArea") }}
                <div class="invalid-feedback">
                {% for error in form[feat].errors %}
                  <span>{{ error }}</span>
                {% endfor %}
                </div>
              {% else %}
                {{ form[feat](class="form-control form-control-lg ehTextArea") }}
              {% endif %}
            </div>
            {% else %}
            <div class="form-group">
              {{ form[feat].label(class="form-control-label ehLabel") }}
              {% if form[feat].errors %}
                {{ form[feat](class="form-control form-control-lg is-invalid ehInput") }}
                <div class="invalid-feedback">
                {% for error in form[feat].errors %}
                  <span>{{ error }}</span>
                {% endfor %}
                </div>
              {% else %}
                {{ form[feat](class="form-control form-control-lg ehInput") }}
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>

          <!-- submit -->
          <div class="text-right">
              <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info ehButton") }}
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock ehContact %}

{% endblock sub_content %}
