{% extends "main/main.html" %}
{% block sub_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/questionnaire.css') }}">
<script src="{{ url_for('static', filename='js/main/faq.js') }}" type="text/javascript"></script>


{% block ehOuiLaptop %}
<div class="ehOuiHeaderLaptop">
  <div class="row">
    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2000">
      <div class="ehH1">{{text.page.title}} </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[0] }}
      </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[1] }}
      </div>
    </div>
    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
      {% for i, text in text.oui.text[0:3] %}
      <div data-aos="flip-left" data-aos-delay= "{{i}}00" data-aos-duration="2000"  style="margin : 60px 0px; background-color: var(--myWhite)">
        <div class="ehTextBoxGrid3 ouiButton{{i}}" style="min-height: 170px; max-width: 340px; margin:0px 100px; border : 1px solid var(--myBrown)">
          <span class="ouiKeyContent{{i}}"> {% if text[0]|length < 25 %} <br> {% endif %}  {{ text[0] }}</span>
          <span class="ouiValContent{{i}}" style="display: none"> {% if text[1]|length < 25 %} <br> {% endif %}  {{ text[1] }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-12">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock ehOuiLaptop %}


{% block ehOuiMobile %}
<div class="ehOuiHeaderMobile" style="display:none">
  <div class="row">
    <div class="col-md-12" data-aos="fade-right" data-aos-duration="2000">
      <div class="ehH1">{{text.page.title}} </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[0] }}
      </div>
      <div class="ehTextBoxTop">
        {{ text.page.head[1] }}
      </div>
    </div>
  </div>
  <!-- row1 -->
  <div class="row ouiRow1" style="background-color: var(--myWhite)">
    {% for i, text in text.oui.text[0:3] %}
    <div class="col-sm-4"  data-aos="flip-left" data-aos-duration="2000" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGrid3 ouiButton{{i}}" style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span class="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span class="ouiValContent{{i}}" style="display: none">{{text[1]}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock ehOuiMobile %}


{% block OuiContent %}
<div class="ehOuiContent">
  {% for idx, j, k in [(2, 3, 9), (3, 6, 9), (4, 9, 12), (5, 12, 20)] %}
  <div class="row ouiRow{{ idx }}" style="background-color: var(--myWhite)">
    {% for i, text in text.oui.text[j:k] %}
    <div class="col-sm-4"  data-aos="flip-left" data-aos-duration="2000" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGrid3" id="ouiButton{{i}}" style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span id="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span id="ouiValContent{{i}}" style="display: none">{{text[1]}}</span>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock OuiContent %}



{% endblock sub_content %}

<!-- <div class="border-bottom"></div> -->

<!-- {% block sep2 %} -->
  <!-- sep -->
<!-- <div class="sep">
  <div class="row">
    <div class="col-sm">
      <div id="avatar" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/images/main/avatar.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock sep2 %}


<div class="border-bottom"></div>
 -->


<!-- faq -->
<!-- {% block faq %}
<div class="ehFaq">
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="content-section" style="background-color: white; padding: 20px">
        <form method="POST" action="">
          <fieldset class="form-group">
          {% for item in text.manifeste.items %}
            <div class="article-content myContentBox">
              <legend class="border-bottom mb-4 ehLegend"><br>
              {{ item["question"] }} </legend>
              <div class="form-group myContentText">
              {{  item["réponse"]  }}
              </div>
            </div>
          {% endfor  %}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock faq %} -->



