{% extends "layout.html" %}
{% block content %}

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- javascrip -->
<script src="{{ url_for('static', filename='js/main/home2.js') }}" type="text/javascript"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/home2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/questionnaire.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/faq.css') }}">


<div class="container-fluid">
<div class="content-section" style="background-color: var(--myWhite); border-left: none;border-right: none;">

<div class="ehResponsiveTopBox" style = "height: 0px;"></div>

<!-- title -->
{% block title %}
<div class="ehTitle">
  <div class="row">
    <div class="col-sm">
      <div class="ehH1">{{text.page.title}} </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock title %}


<div class="border-bottom"></div>

<!-- subtitle -->
{% block subtitle %}
<div class="ehSubtitle">
  <div class="row">
    <div class="col-sm">
      <div class="ehTextBoxTop">
        {{ text.page.head[0] }}
      </div>
    </div>
    <div class="col-sm ehResponsiveSecondBox">
    </div>
    <div class="col-sm">
      <div class="ehTextBoxTop">
        {{ text.page.head[1] }}
      </div>
    </div>
  </div>
</div>
{% endblock subtitle %}


<div class="border-bottom"></div>


<!-- oui -->
{% block oui %}
<div class="ehOui">
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehTextBoxApropos text-left'>
        {{text.oui.name}}
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <!-- row 1 -->
  <div class="row ouiRow1" style="background-color: var(--myWhite)">
  {% for i, text in text.oui.text[0:3] %}
    <div class="col-sm-4" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGridNeuf" id="ouiButton{{i}}" style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span id="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span id="ouiValContent{{i}}"style="display: none">{{text[1]}}</span>
      </div>
    </div>
  {% endfor %}
    <div class="col-sm-12 ">
      <div class="ehInscriptionSmall ouiButton1" style="border:none">
        <span class=""><i class="fas fa-chevron-down"></i></span>
      </div>
    </div>
  </div>

  <!-- row2 -->
  <div class="row ouiRow2" style="display :none; background-color: var(--myWhite)">
  {% for i, text in text.oui.text[3:6] %}
    <div class="col-sm-4" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGridNeuf" id="ouiButton{{i}}"style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span id="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span id="ouiValContent{{i}}" style="display: none">{{text[1]}}</span>
      </div>
    </div>
  {% endfor %}
    <div class="col-sm-6 ">
      <div class="ehInscriptionSmall ouiButton2up" style="border:none">
        <span class=""><i class="fas fa-chevron-up"></i></span>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="ehInscriptionSmall ouiButton2down" style="border:none">
        <span class=""><i class="fas fa-chevron-down"></i></span>
      </div>
    </div>
  </div>


  <!-- row3 -->
  <div class="row ouiRow3" style="display :none; background-color: var(--myWhite)">
  {% for i, text in text.oui.text[6:9] %}
    <div class="col-sm-4" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGridNeuf" id="ouiButton{{i}}" style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span id="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span id="ouiValContent{{i}}" style="display: none">{{text[1]}}</span>
      </div>
    </div>
  {% endfor %}
    <div class="col-sm-6 ">
      <div class="ehInscriptionSmall ouiButton3up" style="border:none">
        <span class=""><i class="fas fa-chevron-up"></i></span>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="ehInscriptionSmall ouiButton3down" style="border:none">
        <span class=""><i class="fas fa-chevron-down"></i></span>
      </div>
    </div>
  </div>

  <!-- row4 -->
  <div class="row ouiRow4" style="display :none; background-color: var(--myWhite)">
  {% for i, text in text.oui.text[9:] %}
    <div class="col-sm-4" style="margin : 20px 0px; background-color: var(--myWhite)">
      <div class="ehTextBoxGridNeuf" id="ouiButton{{i}}" style="min-height: 170px; border : 1px solid var(--myBrown)">
        <span id="ouiKeyContent{{i}}">{{ text[0] }}</span>
        <span id="ouiValContent{{i}}" style="display: none">{{text[1]}}</span>
      </div>
    </div>
  {% endfor %}
    <div class="col-sm-12 ">
      <div class="ehInscriptionSmall ouiButton4" style="border:none">
        <span class=""><i class="fas fa-chevron-up"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm text-right">
      <div class="ehTextBoxApropos text-right">
        {{text.oui.answer}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock oui%}


<div class="border-bottom"></div>

{% block sep2 %}
  <!-- sep -->
<div class="sep">
  <div class="row">
    <div class="col-sm">
      <div id="avatar" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/images/main/avatar.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock sep2 %}


<div class="border-bottom"></div>





<!-- faq -->
{% block faq %}
<div class="ehFaq">
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-section" style="background-color: white; padding: 20px">
        <form method="POST" action="">
          <fieldset class="form-group">
          {% for item in text.manifeste.items %}
            <div class="article-content myContentBox">
              <legend class="border-bottom mb-4 ehLegend"><br>
              {{ item["question"] }} </legend>
              <div class="form-group myContentText">
              {{  item["réponse"]  }}
              </div>
            </div>
          {% endfor  %}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock faq %}


<div class="border-bottom"></div>


{% block sep %}
  <!-- sep -->
<div class="sep">
  <div class="row">
    <div class="col-sm">
      <div id="avatar" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/images/main/avatar.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock sep %}


<div class="border-bottom"></div>


  <!-- foot -->
{% block foot %}
<div class="foot">
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="row ">
    {% for ref, name in [ ('main.apropos', 'A propos'),
                          ('main.loffre', 'L\'offre'),
                          ('main.blog', 'Blog'),
                          ('main.faq', 'FAQ'),
                          ('main.contact', 'Contact'), ] %}
    <div class="col-sm">
      <a href="{{ url_for(ref) }}">
        <div class="ehTextBoxFoot">
          {{ name }}
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock foot %}



</div>
</div>




{% endblock %}
