{% extends "main/main.html" %}
{% block sub_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/questionnaire.css') }}">


<!-- title -->
{% block title %}
<div class="ehTitle">
  <div class="row">
    <div class="col-sm">
      <div class="ehH1">{{text.page.title}} </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class='ehWhiteBox'></div>
    </div>
  </div>
</div>
{% endblock title %}

<!-- post -->
{% block post %}
<div class="ehPost">
  <div class="row">
    <div class="col-sm">
      <article class="media content-section" style="padding: 0px 80px; text-align: justify;">
        <div class="media-body">
          <div class="article-content">
            <legend class="border-bottom mb-4"> <small>par {{ post.author }}, le {{post.created}}</small> </legend>
            <div class="article-title pageTitle" style="text-align: center; font-size: 3rem">{{ post.title }}<br></div>

            <p style="font-size: 2 rem;">{{post.text}}</p>
            <p>source: '{{ post.source }}', article original : <a href="#" class="text-decoration-none" style="color:black;">lien</a> </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock post %}



{% endblock sub_content %}
