{% extends "main/questionnaire_parent.html" %}
{% block fieldset %}

<legend class="border-bottom mb-4 ehLegend">La dernière fois que j'ai . . .</legend>
{% for i in ["offer_timing", "candidature_timing", "call_timing", "interview_timing" ]%}

<div class="form-group">
{{ form[i].label(class="form-control-label ehLabel") }}
{% if form[i].errors %}
  {{ form[i](class="form-control form-control-lg is-invalid myTextArea") }}
  <div class="invalid-feedback">
  {% for error in form[i].errors %}
    <span>{{ error }}</span>
  {% endfor %}
  </div>
{% else %}
  {{ form[i](class="form-control form-control-lg myTextArea") }}
{% endif %}
</div>

{% endfor %}

{% endblock fieldset %}
