{% extends "layout2.html" %}
{% block content %}

<!-- javascrip -->
<script src="{{ url_for('static', filename='js/main/main.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/main/home2.js') }}" type="text/javascript"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main/home2.css') }}">



{% block home_1 %}
<div class="row" id="ehHome1">
  <div class="col-sm-12">
    <div class="ehHomeHead">
      <p class="ehH1">edhunt</p>
      <p class="ehH2">l'assistant 100% dédié à votre recherche d'emploi</p>
      <p>
        <a href="{{ url_for('users.register_user') }}">
        <div class="ehInscriptionSmall">
            s'inscrire
        </div>
          <div class="col-sm-4"></div>
      </a>
      </p>
    </div>
  </div>
</div>
{% endblock home_1 %}




{% endblock content%}






















