{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="padding: 20px">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>

                    {% for field in fields %}
                    <div class="form-group">
                        {{ form[field].label(class="form-control-label") }}
                        {% if form[field].errors %}
                            {{ form[field](class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form[field].errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form[field](class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    {% endfor %}

            </fieldset>

            <!-- submit -->
            <div class="text-right">
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info myButton") }}
                <a class="btn btn-outline-danger myButton" href="{{url_for('plateforms.manage_plateforms')}}">Annuler</a>
            </div>
        </div>
        </form>
    </div>
{% endblock content %}



