@media (min-width: 100px) {
    .ehHomeOneLaptop{}
    .ehHomeHead{
        position: relative;
        padding: 20px 0px;
        margin: 1% 0%;    }
    .ehH1{
        font-size:5rem;
        padding: 5px 20px 5px 20px;
        margin: 5px 20px;    }
    .ehH2{
        font-size: 2rem;
        padding: 5px 20px ;
        margin: 5px 20px;   }
    .ehH3{
        font-size: 1rem;
        padding: 5px  20px 30px 20px;
        margin: 5px 5px 30px 5px;   }
    .ehHomeQuestLaptop{
        min-height: 380px;
        padding: 20px 20px;       }
    .ehHome2{
        margin: 80px 0px;
        padding: 20px;   }
    .ehHomeSecond{
        margin: 20px 0px;
        padding: 10px 10px; }
    .ehBoxImg{
        font-size: 0.1rem;}
    .ehHomeImg{
       width: 150px;
       height: 150px;}
    .ehHomeSecondTitle{
        font-size: 2.2rem;
        padding: 0px 20px}
    .ehHomeSecondContent{
        font-size: 1rem;
        padding: 0px 20px; } }

@media (min-width: 576px) {
    .ehHomeOneLaptop{}
    .ehHomeHead{}
    .ehH1{
        font-size:5rem;
        padding: 20px 0px 20px 0px;
        margin: 20px 0px 20px 0px;    }
    .ehH2{
        font-size: 2.4rem;
        padding: 20px 0px 20px 0px;
        margin: 20px 0px 20px 0px;    }
    .ehH3{
        font-size: 1rem;
        padding: 20px 0px 30px 0px;
        margin: 20px 0px 30px 0px;   }
    .ehHomeQuestLaptop{
        min-height: 380px;
        padding: 20px 20px;       }
    .ehHome2{
        margin: 80px 0px;
        padding: 20px;   }
    .ehHomeSecond{
        margin: 20px 0px;
        padding: 10px 10px; }
    .ehBoxImg{
        font-size: 0.1rem;}
    .ehHomeImg{
       width: 150px;
       height: 150px;}
    .ehHomeSecondTitle{
        font-size: 2.2rem;
        padding: 0px 20px}
    .ehHomeSecondContent{
        font-size: 1rem;
        padding: 0px 20px; } }

@media (min-width: 768px) {
    .ehHomeHeadLaptop{
        padding: 10% 10% 10% 15%;      }
    .ehH1{
        font-size: 7.5rem;
        min-height: 33%;
        margin: 0% ;  }
    .ehH2{
        font-size: 2.4rem;
        min-height: 33%;
        margin: 0%;   }
    .ehH3{
        font-size: 1rem;
        min-height: 33%;
        margin: 0%;  }
    .ehHomeQuestLaptop{
        margin: 20px 15% 20px 15%}
    .ehHome2{
        margin: 80px 0px;
        padding: 20px;   }
    .ehHomeSecond{
        margin: 20px 0px;
        padding: 10px 10px;
        height: 300px; }
    .ehBoxImg{
        font-size: 1rem;}
    .ehHomeImg{
       width: 200px;
       height: 200px;}
    .ehHomeSecondTitle{
        font-size: 2.2rem;
        padding: 0px 20px}
    .ehHomeSecondContent{
        font-size: 1rem;
        padding: 0px 20px; } }

@media (min-width: 992px) {
    .ehHomeHeadLaptop{
        padding: 10% 15% 10% 15%;
        min-height: 780px;     }
    .ehH1{
        font-size: 7.5rem;
        min-height: 33%;
        margin: 0% ;  }
    .ehH2{
        font-size: 2.4rem;
        min-height: 33%;
        margin: 0%;   }
    .ehH3{
        font-size: 1.1rem;
        min-height: 33%;
        margin: 0%;  }
    .ehHomeQuestLaptop{
        margin: 20px 15% 20px 15%;
        padding:20px;
        min-height: 740px;}
    .ehHome2{
        margin: 80px 0px;
        padding: 20px;   }
    .ehHomeSecond{
        margin: 40px 0px;
        padding: 20px 20px;
        height: 300px; }
    .ehBoxImg{
        font-size: 1rem;}
    .ehHomeImg{
       width: 200px;
       height: 200px;}
    .ehHomeSecondTitle{
        font-size: 2.2rem;
        padding: 0px 20px}
    .ehHomeSecondContent{
        font-size: 1.1rem;
        padding: 0px 30px; } }


@media (min-width: 1280px) {
    .ehHomeHeadLaptop{
        padding: 10% 15% 10% 15%;
        min-height: 780px;     }
    .ehH1{
        font-size: 7.5rem;
        min-height: 33%;
        margin: 0% ;  }
    .ehH2{
        font-size: 2.6rem;
        min-height: 33%;
        margin: 0%;   }
    .ehH3{
        font-size: 1.1rem;
        min-height: 33%;
        margin: 0%;  }
    .ehHomeQuestLaptop{
        margin: 20px 15% 20px 15%;
        padding:20px;
        min-height: 740px;}
    .ehHome2{
        margin: 80px 0px;
        padding: 20px;   }
    .ehHomeSecond{
        margin: 40px 0px;
        padding: 20px 20px;
        height: 300px; }
    .ehBoxImg{
        font-size: 1rem;}
    .ehHomeImg{
       width: 200px;
       height: 200px;}
    .ehHomeSecondTitle{
        font-size: 2.4rem;
        padding: 0px 20px}
    .ehHomeSecondContent{
        font-size: 1.1rem;
        padding: 0px 60px; } }

.ehHomeOneLaptop{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    background-position: center; /* Center the image */
    background-image: url("../../images/main/home_xl.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    background-size: cover;    }

.ehHomeOneMobile{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    background-position: center; /* Center the image */
    background-image: url("../../images/main/home_xl.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%;
    background-size: cover;    }


.ehHomeOneLaptop{
    min-height: 780px;    }

.ehHomeOneMobile{
    min-height: 600px;    }

.ehH1{
  font-family: champagne;
  text-align: left;
  color :var(--myWhite);     }

.ehH2{
  font-family: champagne;
  text-align: left;
  color :var(--myWhite);     }

.ehH3{
  text-align: left;
  color :var(--myWhite);     }

.ehHomeQuestLaptop{
    background-color: var(--myWhite) ;
    position: relative;
    border-radius: 10px; }

.ehHomeSecond{
    text-align: center;}

.ehHomeSecondTitle{
    font-family: champagne;
    text-align: center;
    color :var(--myBrown);  }

.ehHomeSecondContent{
    text-align: center; }

.ehBoxImg{
    color:var(--myWhite); }

a{text-decoration: none;}
a:hover {text-decoration: none;}


