/*media*/

@media (min-width: 100px) {
  .myCardTitle{font-size: 2rem}
  .myCardPrice{font-size: 1rem}
  .myCardTitleSelected{font-size: 2rem}
  .myCardPriceSelected{font-size: 1rem}

  .myContentList{font-size: 1.2rem;}  }

@media (min-width: 300px) {
  .myCardTitle{font-size: 2rem}
  .myCardPrice{font-size: 1.2rem}
  .myCardTitleSelected{font-size: 2rem}
  .myCardPriceSelected{font-size: 1.2rem}

  .myContentList{font-size: 1.2rem;}  }

@media (min-width: 576px) {
  .myCardTitle{font-size: 2rem}
  .myCardPrice{font-size: 1.3rem}
  .myCardTitleSelected{font-size: 2rem}
  .myCardPriceSelected{font-size: 1.3rem}

  .myContentList{font-size: 1.4rem;}}

@media (min-width: 768px) {
  .myCardTitle{font-size: 2.5rem}
  .myCardPrice{font-size: 1.3rem}
  .myCardTitleSelected{font-size: 2.5rem}
  .myCardPriceSelected{font-size: 1.3rem}

  .myContentList{font-size: 1.4rem;}}

@media (min-width: 992px) {
  .myCardTitle{font-size: 3rem}
  .myCardPrice{font-size: 1.4rem}
  .myCardTitleSelected{font-size: 3rem}
  .myCardPriceSelected{font-size: 1.4rem}

  .myContentList{font-size: 2rem;}}

@media (min-width: 1280px) {
  .myCardTitle{font-size: 3rem}
  .myCardPrice{font-size: 1.4rem}
  .myCardTitleSelected{font-size: 3rem}
  .myCardPriceSelected{font-size: 1.4rem}

  .myContentList{font-size: 2rem;}}

@media (min-width: 1500px) {
  .myCardTitle{font-size: 3rem}
  .myCardPrice{font-size: 1.6rem}
  .myCardTitleSelected{font-size: 3rem}
  .myCardPriceSelected{font-size: 1.6rem}

  .myContentList{font-size: 2rem;}  }

/*@media (min-width: 1800px) {
  .myCardTitle{font-size: 3rem}
  .myCardPrice{font-size: 1.6rem}
  .myCardTitleSelected{font-size: 3rem}
  .myCardPriceSelected{font-size: 1.6rem}

  .myContentList{font-size: 2rem;}  }
*/

/*card*/

.myCard{
  width: 100%;
  height: 100%;
  border-radius: 10% 25%;
  padding:10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--myBlue);   }

.myCardTitle{
  background-color: var(--myWhite);
  color: var(--myBrown);
  border-radius: 10% 25%;
  font-family: champagne;
/*  font-weight: /*bold*/
  text-align: center;
  vertical-align: middle;   }

.myCardPrice{
  font-family: champagne;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color:white;   }

.myCardSelected{
  width: 100%;
  height: 100%;
  border-radius: 10% 25%;
  border: solid 1px var(--myBlue);
  padding:10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--myWhite);   }

.myCardTitleSelected{
  background-color: var(--myWhite);
  color: var(--myBrown);
  border-radius: 10% 25%;
  font-family: champagne;
/*  font-weight: /*bold*/;
  text-align: center;
  vertical-align: middle;   }

.myCardPriceSelected{
  font-family: champagne;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color:var(--myBlue);   }


/*content*/

.myContent{
  background-color: var(--myWhite);
  border-radius: 10% 25%;
  border: solid 1px var(--myBrown);
  display: none;
  vertical-align: top;
  padding: 10px 0px 10px 0px;
  margin :0px;
  top:0px;}

.myContentList{
  margin : 0px 50px 0px 50px ;
  padding: 0px 50px 0px 50px ;
  color:var(--myBrown);
  font-weight: normal;
  line-break: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  list-style-type: none;
  font-family: champagne;}



/*.myContentFeature{
.myFeature{
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  margin :3px;
  list-style-type: none; }

.cardTitle {
  font-family: champagne;
  color :var(--myBlue);
  font-size: bold; }

.cardPrice {
  font-family: champagne;
  color :var(--myBlue); }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }
*/



/*tableau */

.myData{
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle; }

.myNo{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #94070a; }

.myCheck{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #407927; }


