@media (min-width: 100px) {
    .ehH1{
        font-size: 3rem;
        padding: 5px 0px 5px 0px;
        margin: 5px 0px 5px 0px;    }
    .ehInscriptionSmall{
        font-size: 1.4rem;
        margin: 40px 0px 0px 0px;
        padding: 10px 40px;}
    .ehTextBoxTop{
        font-size: 1.4rem;
        padding: 10px 20px 10px 20px;
        margin: 10px 20px 10px 20px; }
    .ehWhiteBox{
        height: 60px }
    .ehTextBoxGrid3{
        font-size: 1.4rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxGrid2{
        font-size: 1.4rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxFoot{
        font-size: 1.2rem;
        padding: 20px 3px 20px 3px;
        margin: 0px 0px 0px 0px;  }}

@media (min-width: 576px) {
    .ehH1{
        font-size: 3rem;
        padding: 5px 0px 5px 0px;
        margin: 5px 0px 5px 0px;    }
    .ehInscriptionSmall{
        font-size: 1.4rem;
        margin: 40px 0px 0px 0px;
        padding: 10px 40px;}
    .ehTextBoxTop{
        font-size: 1.4rem;
        padding: 10px 20px 10px 20px;
        margin: 10px 20px 10px 20px; }
    .ehWhiteBox{
        height: 60px }
    .ehTextBoxGrid3{
        font-size: 1.4rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxGrid2{
        font-size: 1.4rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxFoot{
        font-size: 1.2rem;
        padding: 20px 3px 20px 3px;
        margin: 0px 0px 0px 0px;  }}


@media (min-width: 768px) {
    .ehH1{
        font-size: 7.5rem;
        padding: 30px 0px 10px 0px;
        margin: 30px 0px 10px 0px;    }
    .ehInscriptionSmall{
        font-size: 1.5rem;
        margin: 60px 0px 0px 0px;
        padding: 20px 60px;}
    .ehTextBoxTop{
        font-size: 1.5rem;
        padding: 30px 20px 30px 20px;
        margin: 30px 20px 30px 20px; }
    .ehWhiteBox{
        height: 100px }
    .ehTextBoxGrid3{
        font-size: 1.8rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxGrid2{
        font-size: 1.8rem;
        padding: 80px 25px;
        margin: 80px 25px;  }
    .ehTextBoxFoot{
        font-size: 1.5rem;
        padding: 30px 10px 30px 10px;
        margin: 0px 0px 0px 0px;  }}

@media (min-width: 1280px) {
    .ehH1{
        font-size: 7.5rem;
        padding: 30px 0px 10px 0px;
        margin: 30px 0px 10px 0px;    }
    .ehInscriptionSmall{
        border: 1px solid var(--myBrown);
        font-size: 2rem;
        margin: 20px 0px;
        padding: 5px 30px;}
    .ehTextBoxTop{
        font-size: 1.9rem;
        padding: 30px 40px 30px 40px;
        margin: 30px 40px 30px 40px; }
    .ehWhiteBox{
        height: 140px }
    .ehTextBoxGrid3{
        font-size: 1.8rem;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 0px;  }
    .ehTextBoxGrid2{
        font-size: 1.8rem;
        padding: 80px 25px;
        margin: 80px 25px;  }
    .ehTextBoxFoot{
        font-size: 1.8rem;
        padding: 50px 20px 50px 20px;
        margin: 0px 0px 0px 0px;     }}



.ehH1{
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);     }

.ehTextBoxTop{
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);    }

.ehInscriptionSmall{
  background-color: var(--myWhite);
  border-radius: 20px;
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);
  max-width: 200px;      }

.ehTextBoxGrid3{
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);    }

.ehTextBoxGrid2{
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);    }

.ehTextBoxFoot{
  font-family: champagne;
  text-align: center;
  color :var(--myBrown);    }

.ehWhiteBox{
    background-color: var(--myWhite);
    border:none;}


a{text-decoration: none;}
a:hover {text-decoration: none;}




