/*media*/

@media (min-width: 100px) {
  .ehLabel{font-size: 1.5rem;}
  .ehLegend{ font-size: 2rem; }
  .ehTextArea{font-size: 1rem; min-height:200px;}
  .ehInput{font-size: 1rem; }
  .ehSelector{font-size: 1rem; }       }

@media (min-width: 576px) {
  .ehLabel{font-size: 1.5rem;}
  .ehLegend{ font-size: 2rem; }
  .ehTextArea{font-size: 1rem; min-height:200px;}
  .ehInput{font-size: 1rem; }
  .ehSelector{font-size: 1rem; }      }

@media (min-width: 720px) {
  .ehLabel{font-size: 1.2rem;}
  .ehLegend{ font-size: 1.2rem; }
  .ehTextArea{font-size: 1rem; min-height:200px;}
  .ehInput{font-size: 1rem; }
  .ehSelector{font-size: 1rem; }       }

@media (min-width: 992px) {
  .ehLabel{font-size: 1.4rem;}
  .ehEdhuntPlus{
        padding: 10px 40px;
        margin: 20px 0px;
        font-size: 1.4rem;}
  .ehLegend{ font-size: 1.4rem; }
  .ehTextArea{font-size: 1.1rem; min-height:210px;}
  .ehInput{font-size: 1.1rem; }
  .ehSelector{font-size: 1.1rem; }      }

@media (min-width: 1280px) {
  .ehLabel{font-size: 1.7rem;}
  .ehEdhuntPlus{
        padding: 10px 40px;
        margin: 20px 40px;
        font-size: 1.7rem;}
  .ehLegend{ font-size: 2.5rem; }
  .ehTextArea{font-size: 1.2rem; min-height:210px;}
  .ehInput{font-size: 1.2rem; }
  .ehSelector{font-size: 1.2rem; }    }

/*page*/

.ehLegend{
/*  margin: 0px;*/
  font-family: champagne;
  text-align: left;
  color :var(--myBrown);     }

.ehLabel{
/*  margin: 0px;*/
  font-family: champagne;
  text-align: justify;
  text-align: left;
  color :var(--myBlue);     }

.ehSelector{
  color: grey; }

.ehInput{
  color: grey;
  text-align: justify; }

.ehTextArea{
  color: grey;
  text-align: justify;  }

.ehButton{
  width: 101px;
}

.ehEdhuntPlus{
    border-radius: 20px;
    font-family: champagne;
    text-align: center;
    color :var(--myBrown);
    border: 1px solid var(--myBrown);
    background-color: rgb(0,0,0);  }
